.dropdown {
  gap: 1rem;

  &__label {
    font-size: 1.2rem;
  }

  &__container {
    position: relative;

    &.active {
      .dropdown__selected {
        border: 0.1rem solid var(--clr-hover-border-lang);
      }

      .dropdown__options {
        z-index: 3;
        opacity: 1;
        visibility: visible;
        transition: opacity var(--transition), visibility var(--transition);
      }

      .dropdown__value {
        color: var(--clr-text-dark);
      }

      .dropdown__icon {
        transform: rotate(-180deg);

        svg {
          fill: var(--clr-text-dark);

          g {
            opacity: 1;
          }
        }
      }
    }
  }

  &__selected {
    gap: 1rem;
    border: 0.1rem solid var(--clr-border-header);
    border-radius: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: max-content;
    height: max-content;
    min-height: 5rem;
    background-color: var(--clr-faq-bg);
    transition: border var(--transition);
    backdrop-filter: blur(3rem);

    @media (hover) {
      &:hover {
        border: 0.1rem solid var(--clr-hover-border-lang);

        .dropdown__value {
          color: var(--clr-text-dark);
        }

        .dropdown__icon {
          svg {
            fill: var(--clr-text-dark);

            g {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__value {
    color: var(--clr-default-435);
    transition: color var(--transition);

    @media (max-width: em(767)) {
      font-size: 1.2rem;
    }
  }

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
    transition: transform var(--transition);

    svg {
      fill: var(--clr-default-450);
      transition: fill var(--transition);

      g {
        transition: opacity var(--transition);
      }
    }
  }

  &__options {
    position: absolute;
    left: 50%;
    top: 6rem;
    z-index: 0;
    gap: 0.5rem;
    border: 0.1rem solid var(--clr-default-410);
    border-radius: 1.2rem;
    padding: 0.5rem;
    width: 100%;
    background-color: var(--clr-langdropdown-bg);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    transition: opacity var(--transition), visibility var(--transition);
    backdrop-filter: blur(3rem);
  }

  &__option {
    border: 0.1rem solid transparent;
    border-radius: 0.8rem;
    padding: 0.8rem;
    font-size: 1.2rem;
    background-color: transparent;
    transition: background-color var(--transition), border var(--transition);
    cursor: pointer;

    @media (hover) {
      &:hover {
        border: 0.1rem solid var(--clr-default-410);
        background-color: var(--clr-default-401);
      }
    }
  }
}
