.loader-component {
    position: relative;
    z-index: 1;
    margin: 0 auto;

    &>img{
        animation: rotate 1.5s linear infinite;
    }
  }

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }