.location {
  gap: 1rem;
  width: max-content;

  &__label {
    font-size: 1.2rem;
  }

  &__wrapper {
    position: relative;
  }

  &__button {
    gap: 1rem;
    border: 0.1rem solid var(--clr-default-410);
    border-radius: 0.8rem;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 5rem;
    min-width: 13rem;
    background-color: var(--clr-faq-bg);
    transition: border var(--transition);
    backdrop-filter: blur(3rem);

    &-wrapper {
      gap: 1rem;
    }

    &-value {
      font-size: 1.6rem;
      line-height: 133%;
      color: var(--clr-default-435);
      transition: color var(--transition);
    }

    &-flag {
      flex-shrink: 0;
    }

    &-icon {
      transition: transform var(--transition);

      svg {
        fill: var(--clr-default-450);
        transition: fill var(--transition);
      }
    }

    @media (hover) {
      &:hover {
        border: 0.1rem solid var(--clr-hover-border-lang);

        .location__button-value {
          color: var(--clr-text-dark);
        }

        .location__button-icon {
          svg {
            fill: var(--clr-text-dark);
          }
        }
      }
    }
  }

  &__dropdown {
    position: absolute;
    left: 50%;
    top: 6rem;
    z-index: 0;
    border: 0.1rem solid var(--clr-default-410);
    border-radius: 1.2rem;
    padding: 1rem;
    width: 100%;
    background-color: var(--clr-langdropdown-bg);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    transition: opacity var(--transition), visibility var(--transition);
    backdrop-filter: blur(3rem);
  }

  &__item {
    gap: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    background-color: transparent;
    transition: background-color var(--transition), border var(--transition);
    cursor: pointer;

    &-flag {
      flex-shrink: 0;
    }

    &-value {
      font-size: 1.6rem;
      color: var(--clr-text-dark);
    }

    @media (hover) {
      &:hover {
        border: 0.1rem solid var(--clr-default-410);
        background-color: var(--clr-default-401);
      }
    }
  }

  &.active {
    .location__button {
      border: 0.1rem solid var(--clr-hover-border-lang);
    }

    .location__button-value {
      color: var(--clr-text-dark);
    }

    .location__button-icon {
      transform: rotate(-180deg);

      svg {
        fill: var(--clr-text-dark);
      }
    }

    .location__dropdown {
      z-index: 5;
      opacity: 1;
      visibility: visible;
      transition: opacity var(--transition), visibility var(--transition);
    }
  }
}
