.theme {
  flex-shrink: 0;
  border: 0.1rem solid var(--clr-default-410);
  border-radius: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: var(--clr-default-401);
  transition: border var(--transition), box-shadow var(--transition);

  &__wrapper {
    border-radius: 0.6rem;
    width: 4.2rem;
    height: 4.2rem;
    background-color: var(--clr-default-100);

    &.dark {
      background-color: var(--clr-accent-400);
    }
  }

  @media (hover) {
    &:hover {
      border: 0.1rem solid var(--clr-hover-border-lang);
      box-shadow: var(--clr-theme-shadow);
    }
  }
}
