.article__card {
  position: relative;
  gap: 2rem;
  overflow: hidden;
  border: 0.1rem solid var(--clr-border-header);
  border-radius: 1rem;
  padding: 2rem;
  background-color: var(--clr-faq-bg);
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(11, 92, 228, 0.3), rgba(11, 92, 228, 0) 100%), rgba(255, 255, 255, 0.05);
    transition: top var(--transition);
    backdrop-filter: blur(1.4rem);
  }

  &-wrapper {
    display: flex;
    gap: 2rem;

    @media (max-width: em(1024)) {
      flex-direction: column;
    }
  }

  &-image {
    z-index: 2;
    border: 0.1rem solid var(--clr-border-image);
    border-radius: 0.5rem;

    @media (max-width: em(1024)) {
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      max-width: 75rem;
    }
  }

  &-text {
    gap: 1rem;
  }

  &-title {
    z-index: 2;
  }

  &-description {
    display: -webkit-box;
    overflow: hidden;
    max-height: calc(1em * 1.5 * 3); /* line-height * number of lines */
    font-size: fluid(1.6rem, 1.2rem);
    line-height: 120%;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Change 3 to the desired number of lines */
    line-clamp: 3; /* For WebKit-based browsers */
  }

  &-button {
    margin-top: auto;
    margin-left: auto;
    max-width: 21rem;

    @media (max-width: em(767)) {
      max-width: initial;
    }
  }

  &-button-mobile {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    max-width: 21rem;
    opacity: 0;

    @media (max-width: em(1024)) {
      position: relative;
      right: initial;
      bottom: initial;
      margin-left: auto;
      max-width: 21rem;
      opacity: 1;
    }

    @media (max-width: em(767)) {
      max-width: initial;
    }
  }

  &-info {
    gap: 1rem;
  }

  &-date,
  &-time {
    position: relative;
    gap: 1rem;
    padding-right: 1rem;
    font-weight: 300;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      width: 0.1rem;
      height: 100%;
      background-color: var(--clr-default-410);
    }
  }

  &.wide {
    &::before {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: radial-gradient(61% 61% at 50% 100%, rgba(11, 92, 228, 0.5), rgba(11, 92, 228, 0) 100%),
        rgba(255, 255, 255, 0.05);
      opacity: 0;
      transform: translateX(-50%);
      transition: opacity var(--transition);
    }

    .article__card-info-top {
      display: none;

      @media (max-width: em(767)) {
        display: block;
      }
    }

    .article__card-info--bot {
      @media (max-width: em(767)) {
        display: none;
      }
    }

    .article__card-wrapper {
      flex-direction: column;
      gap: 2rem;
    }

    .article__card-button {
      border: 0.1rem solid transparent;

      @media (max-width: em(1024)) {
        border: 0.1rem solid var(--clr-text-dark);
      }
    }

    .article__card-button-mobile {
      display: none;
    }

    .article__card-image {
      width: 100%;
      max-width: 75rem;
    }

    @media (hover) {
      &:hover {
        &::after {
          opacity: 1;
        }

        .article__card-button {
          border: 0.1rem solid var(--clr-text-dark);
        }
      }
    }
  }

  @media (max-width: em(1024)) {
    flex-direction: column;
  }

  @media (hover) {
    &:hover {
      &::before {
        top: 0;
      }
      .article__card-button-mobile {
        opacity: 1;
      }
    }
  }
}
